aiofiles
aiohttp
apscheduler
asyncio
bing_image_downloader
bs4
certifi
deepai
edge-tts
ffmpeg-python
future
gitpython
google-api-python-client
gpytranslate
gtts
heroku3
httpx[http2]>=0.28.1
kurigram>=2.2.17
lexica-api
motor
nekosbest
numpy
opencv-python
pillow>=12.0.0
psutil
ntgcalls>=2.0.6
pycryptodome
pydub
pyfiglet
pyshorteners
python-dotenv
python-whois
pyyaml
qrcode
requests
speedtest-cli
SpeechRecognition
spotipy
telegraph
pytgcrypto
unidecode
wget
gold-dl
git+https://github.com/CertifiedCoders/youtube-search-python
